<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="/stylesheets/login.css" rel="stylesheet" text="text/css" />
    <title>Login</title>
</head>
<body>
    <div class="sidenav">
        <div class="login-main-text">
           <h2>Application<br> Login Page</h2>
           <p>Login or register from here to access.</p>
        </div>
     </div>
     <div class="main">
        <div class="col-md-6 col-sm-12">
           <div class="login-form">
              <form method="POST" action="/login">
                 <div class="form-group">
                    <label>User Name</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="UserName">
                 </div>
                 <div class="form-group">
                    <label>Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                 </div>
                 <% if (wrongUsername) { %>
                  <p style="color: red">Username isn't exist</p>
                <% } %>
                <% if (wrongPass) { %>
                  <p style="color: red">Password is incorrect</p>
                <% } %>
                 <button type="submit" class="btn btn-black">Login</button>
                 <a class="btn btn-secondary" href="/register">Register</a>
              </form>
           </div>
        </div>
     </div>
</body>
</html>